.container{
  max-width: 1200px;
  margin: auto;
}
*{
  font-family: Arial;
}
.header{
  .top{
    background-image: linear-gradient(to bottom,#fff 0,#eee 100%);
    .container{
      display: flex;
      position: relative;
    }
    ul{
      display: flex;
      border-bottom: 1px solid #ccc;
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      li{
        list-style: none;
        padding: 10px 0px;
        padding-right: 10px;
        a{
          text-decoration: none;
          font-size: 12px;
          color: #0896e6;
          font-weight: bold;
          border-right: 1px solid #ccc;
          padding-right: 10px;
        }
      }
      li:last-child{
        a{
          border-right: none;
        }
      }
    }
  }
  .mini_cart{
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #FFF;
    .insider{
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px;
      display: flex;
      padding: 10px;
      width: 320px;
      z-index: 10;
      border-radius: 0 0 10px 10px;
      .img{
        img{
          width: 60px;
          margin-top: 15px;
        }
      }
      .info{
        padding-left: 15px;
      }
      h3{
        font-size: 13px;
        color: #666;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      p{
        color: #f1770f;
        margin: 10px 0 0;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
      }
      .cart{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #1C74B9;
        margin-top: 10px;
        img{
          width: 20px;
          height: auto;
          margin-right: 10px;
        }


      }
    }
  }

  .logo_main{
    .container{
      display: flex;
      align-items: center;
      padding: 30px 0px;
      padding-bottom: 0px;
    }
    .logo{
      width: 300px;
    }
    h3{
      color: #1175BE;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
      padding-left: 30px;
    }
  }
  .main_menu{
    .container{
      display: flex;
      align-items: center;
      position: relative;
      h3{
        position: relative;
        width: 302px;
        height: 62px;
        text-align: center;
        line-height: 62px;
        color: #FFF;
        text-transform: uppercase;
        &:before{
          content: "";
          display: block;
          width: 100%;
        }
      }
      .right_menu{
        width: calc(100% - 302px);
        display: flex;
        background: #0E87C8;
        height: 42px;
        align-items: center;
        margin-top: -1px;
        .tk_thuong_hieu{
          margin-left: 15px;
        }
        .flex-grow{
          flex-grow: 1;
        }
        .tk_he_thong{
          margin-right: 15px;
        }
        .toggle_tk{
          display: flex;
          align-items: center;
          background: #70BF44;
          border:2px solid #fff;
          border-radius: 10px;
          height: 30px;
          justify-content: center;
          h3{
            margin:0px;
            font-size: 14px;
            font-weight: 500;
            margin-right: -50px;
            margin-left: -50px;
          }
          .icon{
            display: flex;
            align-items: center;
            img{
              width: 20px;
            }
          }
        }
      }
    }
    .menu_nav{
      position: absolute;
      left: 9px;
      top: 82px;
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        background: #FFF;
        li{
          margin-top: -1px;
          position: relative;
          a{
            display: block;
            width: 100%;
            border: 1px solid #ccc;
            text-decoration: none;
            padding: 5px 10px;
            position: relative;
            color: #363636;
            img,span{
              position: relative;
              z-index: 10;
            }
          }
          img{
            width: 35px;
          }
          .sub-menu{
            width: 100%;
            position: absolute;
            right: 0px;
            top: 0px;
            left: 283px;
            margin-top: 1px;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            li{
              &:hover{
                a{
                  color: #fff;
                  background: #097CBC;
                }
              }
            }
          }
          &:hover{
            .sub-menu{
              opacity: 1;
              visibility: visible;
            }
            a{
              color: #fff;
              background: #097CBC;
            }
            ul{
              a{
                background: #fff;
                color: #363636;
              }
            }
          }
        }
      }
    }
  }
}